<div class="post">
    <div class="wrapper">
        <div class="title">
            <div class="user">
                <a href="/profile/index?id={{ post.author.id }}">{{ post.author.public }}</a>
            </div>

            <div class="right">
                <div class="datetime"> 
                    <div class="date">{{ post.createdAt.format('Y-m-d') }} at</div>
                    <div class="time">{{ post.createdAt.format('H:i:s') }}</div>
                </div>

                <div class="menu" data-menu>
                    <i class="fas fa-caret-down" data-menu></i>
                </div>
            </div>
        </div>

        <div class="data">{{ post.text }}</div>

        {% if not post.pictures.isEmpty() %}
        <ul class="pic-list">
            {% for picture in post.pictures %}
            <li class="image" style="background: url('/uploads/pictures/{{ picture.source }}') center / cover no-repeat"></li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <ul class="file-list">
            <li class="file-block file-list-header">
                <div class="file-name">1 documents</div>
            </li>
            {% for document in post.documents %}
            <li class="file-block">
                <div class="file-name">
                    <i class="fas fa-file"></i>
                    <a href="/document/download?id={{ document.source }}&name={{ document.name }}&type={{ document.mime }}" download>{{ document.name }}</a>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="comment-list">
            <div class="new-comment">
                <div class="author"><i class="fa-solid fa-user"></i></div>
                <input name="comment" class="input" type="text" placeholder="Comment">
                <div class="sending"><div class="send-comment"><i class="fas fa-solid fa-paper-plane"></i></div></div>
            </div>

            {% for comment in comments %}
            <div class="comment">
                <div class="author">
                    <div class="icon"><i class="fa-solid fa-user"></i></div>
                    <div class="name"><a href="{{ comment.author.profileLink }}">{{ comment.author.name }}</a></div>
                </div>
                <div class="text">{{ comment.text }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>