<div class="post" data-id="{{ post.id }}">
    <div class="wrapper">
        <div class="title">
            <div class="user">
                <a href="/profile/index?id={{ post.author.id }}">{{ post.author.public }}</a>
            </div>

            <div class="right">
                <div class="datetime"> 
                    <div class="date">{{ post.createdAt.format('Y-m-d') }} at</div>
                    <div class="time">{{ post.createdAt.format('H:i:s') }}</div>
                </div>

                <div class="menu" data-menu>
                    <div class="toggler">
                        <i class="fas fa-caret-down" data-menu></i>
                    </div>
                    <div class="items hidden">
                        <div class="item back"><i class="fas fa-caret-left"></i>Back</div>
                        <div class="item delete" data-href="/api/post/delete?id={{ post.id }}"><i class="far fa-trash-alt"></i>Delete</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="data">{{ post.text }}</div>

        {% if not post.pictures.isEmpty() %}
        <ul class="pictures">
            {% for picture in post.pictures %}
            <li class="picture" style="background: url('/uploads/pictures/{{ picture.source }}') center / cover no-repeat"></li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% if not post.documents.isEmpty() %}
        <div class="documents">
            <div class="document header">{{ post.documents.count() }} document(s)</div>

            {% for document in post.documents %}
            <div class="document">
                <div class="icon"><i class="fas fa-file"></i></div>
                <div class="name"><a class="link" href="/document/download?id={{ document.source }}&name={{ document.name }}&type={{ document.mime }}" download>{{ document.name }}</a></div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="comments">
            <div class="new-comment">
                <div class="author"><i class="fa-solid fa-user"></i></div>
                <input name="comment" class="input" type="text" placeholder="Comment">
                <div class="sending"><div class="send-comment"><i class="fas fa-solid fa-paper-plane"></i></div></div>
            </div>

            {% for comment in post.comments %}
            {% include '/components/post/comment.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>